/* -------------------- */
/*GENERAL*/

.sub-content {
    padding: 300px 0;
}

.sub-title {
    font-size: 74px;
    color: #FFC959;
}

.sub-title-2 {
    font-size: 50px;
    color: white;
    text-align: left;
    margin-left: 80px;
}

.para {
    color: white;
    font-weight: 600;
    font-size: 26px;
}

/* -------------------- */
/*SIMULATION*/

.simulation {
    --sub-content-background: radial-gradient(circle farthest-corner at 50% 220%, rgba(255, 227, 90, 1) 0%, rgba(255, 201, 89, 1) 0%, rgba(43, 43, 42, 1) 72%);

    background: var(--sub-content-background);
    padding-top: 50px;
    padding-bottom: 200px;
    color: white;
}

.sim-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: white;
    margin-bottom: 60px;
    font-size: 22px;
    font-weight: 600;
    margin-top: 220px;


}

.sim-content-1 {
    display: flex;
    justify-content: center;
}

.sim-content-2 {
    display: flex;
    justify-content: center;
}

.sim-input {
    display: flex;
    width: 600px;

}

.sim-input input {
    height: 34px;
    border-radius: 14pt;
    background-color: #676461;
    border: none;
    margin-top: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    width: 130px;
    text-align: center;
    color: white;
}

.sim-input input[type=text]:focus {
    outline: none;


}

.input-1 {
    margin-right: 100px;

}

.p-input-1 {
    width: 166px;
    text-align: left;
    padding-left: 120px;

}

.p-input-2 {
    width: 310px;
    text-align: left;
}

.p-sim {
    margin-top: 80px;
    font-size: 20px;
    font-weight: 500;
}


/* -------------------- */
/*STATS*/


.stats {
    --sub-content-background: radial-gradient(circle farthest-corner at 50% 220%, rgba(255, 227, 90, 1) 0%, rgba(255, 201, 89, 1) 0%, rgba(43, 43, 42, 1) 72%);

    background: var(--sub-content-background);
    padding-top: 50px;
    padding-bottom: 200px;
    color: white;
}

.stat-number-content {
    display: flex;
    flex-direction: row;
    padding: 0 16%;
    justify-content: space-between;
    flex-wrap: wrap;

}

.stat-number {
    width: 25%;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.stat-number-para {
    color: white;
    margin-top: -70px;
    font-weight: 400;
    font-size: 19px
}

.pourcent {
    font-size: 90px;
    color: #FFC959;
    font-weight: 700;
}

/* -------------------- */
/*USE*/

.use {
    padding-top: 40px;
    padding-bottom: 40px;
}

.users-logo {
    display: flex;
    justify-content: space-around;
    padding-top: 50px;
    padding-left: 250px;
    padding-right: 250px;
}

.users-logo-picture {
    height: 120px;
    width: 120px;
    background-color: grey;
    border-radius: 10pt;
    /* background-image: url('/src/assets/img/welleat-logo.png'); */
    background-size: cover;
}

.users-testi {
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    padding-left: 260px;
    padding-right: 260px;
}

.users-profil {
    height: 300px;
    width: 250px;
    background-color: #676461;
    border-radius: 10pt;
    display: flex;

    flex-direction: column;
    align-items: center;

}

.profil-picture {
    height: 110px;
    width: 110px;
    background-color: #FFC959;
    border-radius: 50%;
    margin-top: 20px;


}

/* -------------------- */
/*CONTACT*/

.contact {

    --sub-content-background: radial-gradient(circle farthest-corner at 50% 220%, rgba(255, 227, 90, 1) 0%, rgba(255, 201, 89, 1) 0%, rgba(43, 43, 42, 1) 72%);

    background: var(--sub-content-background);
    padding-top: 50px;
    padding-bottom: 200px;
    color: white;
    padding-top: 40px;
    padding-bottom: 100px;
}

.contact-form {
    padding-left: 40%;
    margin-top: -60px;
}

.form-contact {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-contact p {
    width: 100%;
    text-align: right;
    padding-right: 90px;
    font-size: 14px;
    font-weight: 300;
}

.form-contact-input {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: left;
    margin-bottom: 30px;
}

.form-contact-input input {
    height: 34px;
    border-radius: 14pt;
    background-color: #676461;
    border: none;
    margin-top: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 4px;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    width: 80%;
    text-align: left;
    color: white;
}

.form-contact-textarea {
    width: 100%;
    padding-right: 10%;
}

.form-contact-textarea textarea {
    width: 100%;
    border-radius: 18pt;
    background-color: #676461;
    border: none;
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    text-align: left;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
}

.form-contact-textarea label {
    text-align: left;
    width: 100%;
    display: block;
    font-size: 18px;
    padding-left: 26px;
}

.form-contact-input label {
    font-size: 18px;
    padding-left: 26px;
}

.submit-button {
    width: 100%;
    text-align: right;
    padding-right: 72px;
    margin-top: 14px;
}

.submit-button input {
    font-size: 18px;
    font-weight: 400;
    color: #FFC959;
    background-color: #32302e;
    border: none;
    padding: 16px 28px;
    border-radius: 12pt;
}

.submit-button input:hover {
    background-color: #FFC959;
    color: #32302e;
    cursor: pointer;

}

/* -------------------- */
/*STORY*/

.story {
    --sub-content-background: radial-gradient(circle farthest-corner at 50% 220%, rgba(255, 227, 90, 1) 0%, rgba(255, 201, 89, 1) 0%, rgba(43, 43, 42, 1) 72%);

    background: var(--sub-content-background);
    padding-top: 40px;
    padding-bottom: 100px;
}

.story-content {
    padding: 0 17%;
    margin-top: 90px;
    margin-bottom: 50px;

}

.story-content-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: normal;
    background-color: white;
    border-radius: 4pt;
}

.story-content-1 {
    background-color: #FFC959;
    padding: 20px;
    border-top-left-radius: 4pt;
    border-bottom-left-radius: 4pt;

    font-weight: 700;
    font-size: 21px;
}

.story-content-2 {
    background-color: white;
    padding: 22px;
    text-align: left;
    border-top-right-radius: 4pt;
    border-bottom-right-radius: 4pt;
}

.story-last {
    background-color: #fae471;
}



/* -------------------- */
/*DISTRIBUTION*/

.distribution {
    padding: 0px 12% 0 12%;
}

.distrib-margin {
    margin-top: 110px;
}

.distribution h3 {
    color: white;
    font-weight: 800;
    font-size: 28px;
    margin-bottom: 100px;
}



.distribution h4 {
    color: white;
    text-align: left;
    font-weight: 600;
    font-size: 22px;
    margin: 0;
    margin-bottom: 24px;
}

.verticale-line-distrib-1 {
    width: 950px;
    height: 16px;
    background-color: #FFC959;
    margin-top: -112px;
    margin-bottom: 60px;
    margin-left: -6px;
}

.verticale-line-distrib-2 {
    width: 266px;
    height: 16px;
    background-color: #FFC959;
    margin-top: -112px;
    margin-bottom: 60px;
    margin-left: -6px;
}

.distribution ul {
    color: white;
    text-align: left;
}

.distribution-content {
    width: 100%;
    height: 400px;
    display: flex;

}

.distribution-subcontent {
    width: 50%;
    padding: 10px;
}

.distribution-subcontent ul {
    list-style-type: none;
}

.distribution-subcontent li {
    background: url("./../../assets/img/list-square.png");
    padding-left: 3rem;
    background-position: 0 0;
    background-size: 30px 30px;
    background-repeat: no-repeat;
    height: 46px;
    line-height: 30px;

}

.distribution-media {

    height: 100%;
    width: 100%;
}

/* -------------------- */
/*CONSUMER*/

.consumer {
    padding: 80px 10%;
}

/* -------------------- */
/*FOOTER*/


.footer {
    width: 100%;
    height: 300px;
    background-color: black;
    margin-top: 100px;
}

.footer h3 {
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    font-size: 26px;

}