.app-content {
    font-family: 'Inter', sans-serif;

    /* --sub-content-background: linear-gradient(0deg, rgba(43, 43, 42, 1) 36%, rgba(255, 201, 89, 1) 98%, rgba(255, 227, 90, 1) 100%); */
    --sub-content-background: radial-gradient(circle farthest-corner at 50% -120%, rgba(255, 227, 90, 1) 0%, rgba(255, 201, 89, 1) 0%, rgba(43, 43, 42, 1) 72%);

    background: var(--sub-content-background);
    background-attachment: fixed;
    overflow: 'scroll';
}

.app-content.active {
    --sub-content-background: radial-gradient(circle farthest-corner at 50% -120%, rgba(0, 200, 151, 1) 0%, rgba(0, 200, 151, 1) 0%, rgba(43, 43, 42, 1) 70%);

    background: var(--sub-content-background);
    background-attachment: fixed;
    overflow: 'scroll';
}

.home-container {
    padding: 16% 0;
    width: auto;
    height: auto;
}


.home-logo {
    width: 250px;
    height: 249px;
}

h1 {
    color: white;
}

h3 {
    color: white;
    text-align: left;

}